* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 5px;
}

.container {
    max-width: 1170px;
    height: 100%;
    margin: auto;
}

.marca, .prezzo, .sconto {
    font-size: 10px;
}

.marca, .modello, .sconto {
    color: black;
}


.modello {
    font-size: 12px;
    font-weight: bold;
}

.prezzo {
    color: red;
    display: inline-block;
}

.sconto {
    text-decoration: line-through;
}

.label span {
    padding: 6px;
    position: absolute;
    bottom: 15%;
    color: white;
}





/* Header */

header {
    background-color: #ff6901;
    height: 80px;   
}

.header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}



.logo {
    display: flex;
    justify-content: center;
}

.logo img {
  max-width: 200px;
}

/* Main */

main {
    margin-top: 30px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prodotti {
    width: calc(97% / 3);
    margin-bottom: 30px;
    position: relative;
}

.prodotti img {
    width: 100%;
}

.discount {
    left: 0;
    background-color: red;
}

.eco {   
    left: 15%;
    background-color: green;
}

/* Footer */

.footer {
    background-color: black;
    height: 160px;
    position: relative;
}

.footer nav {
    position: absolute;
    left: 0;
    padding: 20px;
}

nav div {
    margin-left: 5px;
}

.footer .social {
    position: absolute;
    right: 0;
    padding: 20px;
}

/* Hover */

.foto-1:hover {
    content: url(../img/1b.webp);
}

.foto-2:hover {
    content: url(../img/2b.webp);
}

.foto-3:hover {
    content: url(../img/3b.webp);
}

.foto-4:hover {
    content: url(../img/4b.webp);
}

.foto-5:hover {
    content: url(../img/5b.webp);
}

.foto-6:hover {
    content: url(../img/6b.webp);
}


